# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Node / Frontend
node_modules/
build/
dist/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfplan
*.tfplan.*
crash.log

# Kubernetes
kubeconfig
*.kubeconfig

# Docker
*.pid
*.seed

# Logs
*.log

# Environment variables
.env

# Binaries / archives
kubectl
terraform
*.zip
*.tar.gz
